#company h1{
    text-align: center;
}
#company_inputs{
    padding: 5px;
}
#addbtn{
    margin: 5px;
    color: red;
}
#table{
    width: 95%;
    margin: 20px;
}
#table,th,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}